<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Basket</title>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/style.css}"/>
</head>

<header>
    <div class="header-row">
        <p>Добро пожаловать, [[${#httpServletRequest.remoteUser}]]!!</p>
        <div class="header-middle">
            <h1>Phones</h1>
        </div>
        <div class="header-right">
            <p>
                <a th:href="@{/users}">Список пользователей</a>
            </p>
            <p>
                <a th:href="@{/phones}">Магазин</a>
            </p>
            <p>
                <a  th:href="@{/basket}">Корзина</a>
            </p>
            <form th:action="@{/logout}" method="post">
                <input type="submit" value="Sign Out"/>
            </form>
        </div>
    </div>
</header>
<body>
<div class="row">
    <div class="col-1-2">
        <div class="content">
            <hr>
            <h2>Личный кабинет</h2>
            <p th:utext="${user.getUsername()}">...</p>
            <p>Покупок в корзине:
            <p th:utext="${user.getNumberOfPhones()}">0</p>
        </div>
    </div>
    <div class="col-2-2">
        <div class="content">
            <hr>
            <h2>Корзина</h2>
            <div>
                <table border="0">
                    <tr>
                        <th>id</th>
                        <th>model</th>
                        <th>color</th>
                        <th>price</th>
                        <th>size</th>
                        <th>diagonal</th>
                        <th>description</th>
                        <th>creation date</th>
                        <th>delete</th>
                    </tr>
                    <tr th:each="phone : ${user.getPhones()}">
                        <td th:utext="${phone.getPhone_id()}">...</td>
                        <td th:utext="${phone.getModelName()}">...</td>
                        <td th:utext="${phone.getColor()}">...</td>
                        <td th:utext="${phone.getPrice()}">...</td>
                        <td th:utext="${phone.getSize()}">...</td>
                        <td th:utext="${phone.getDiagonal()}">...</td>
                        <td th:utext="${phone.getDescription()}">...</td>
                        <td th:utext="${phone.getCreation_date()}">...</td>
                        <td><a
                                th:href="@{deletefrombasket(userId=${user.getId()}, phoneId=${phone.getPhone_id()})}"
                                class="btn btn-danger">Delete</a></td>
                    </tr>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>