<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta name="Access-Control-Allow-Origin" content="*" />
    <meta name="Access-Control-Allow-Headers" content="*" />
    <meta charset="UTF-8"/>
    <title>Login Form</title>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/style.css}"/>
</head>
<header>
    <div class="header-row">
        <div class="header-left">
            <p>Добро пожаловать!</p>
        </div>
        <div class="header-middle">
            <h1>Phones</h1>
        </div>
        <div class="header-right"></div>
    </div>
</header>

<body>
<div class="row">
    <div class="col-1-2">
        <div class="content">
            <hr>
            <h2>Авторизуйтесь</h2>
            <div th:if="${param.error}">Неверный логин или пароль.</div>
            <div th:if="${param.logout}">Вы вышли из системы.</div>
            <form th:action="@{/login}" method="post">
                Логин: <br>
                <input type="text" name="username" placeholder="username"/> <br>
                Пароль: <br>
                <input type="password" name="password" placeholder="password"/> <br>
                <br>
                <input type="submit" value="Sign In"/>
            </form>
            <p>
                Зарегистрируйтесь: <a th:href="@{/registration}">Регистрация</a>
            </p>
        </div>
    </div>
</div>
</body>
</html>