<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Страница телефона</title>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/phonepage.css}"/>
</head>
<header>
    <div class="header-row">
        <div class="header-left">
            <a th:href="@{/phones}"><img
                    th:src="@{/img/logokarasy.png}" width="100" height="70" align="left"/></a>
        </div>
        <div class="header-middle">
            <h1>Модель</h1>
        </div>
        <div class="header-right">
        </div>
    </div>
</header>

<body>
<div class="row">
    <div class="col-1-2">
        <div class="content">
            <hr>
            <h2 th:utext="${phone.getModelName()}+| |+${phone.getColor()}">...</h2>
            <td th:each="phone:${phone.getPictures()}">
                <img width="300" height="300"
                     th:src="@{'data:image/jpeg;base64,'+${phone.encodeImage()}}" alt=""/>
            </td>

            <h3>
                <td><a th:if="${isAdmin}"
                       th:href="@{/modifyphonefrompage(phoneId=${phone.getPhone_id()})}"
                       class="btn btn-danger">Редактировать</a></td>
                </br>
            </h3>
            <h3>
                <td><a th:if="${isAdmin}"
                       th:href="@{/deletephonefrompage(phoneId=${phone.getPhone_id()})}"
                       class="btn btn-danger">Удалить из базы</a></td>
            </h3>

            <h3>
                <form th:action="@{/logout}" method="post">
                    <input type="submit" value="Sign Out"/>
                </form>
            </h3>
        </div>
    </div>
    <div class="col-2-2">
        <div class="content">
            <hr>
            <h2>Описание</h2>
            <h3>Модель:
                <p th:utext="${phone.getModelName()}">...</p>
            </h3>
            <h3>Цвет:
                <p th:utext="${phone.getColor()}">...</p>
            </h3>
            <h3>Цена:
                <p th:utext="${phone.getPrice()}">...</p>
            </h3>
            <h3>Комментарий:
                <p th:utext="${phone.getComment()}">...</p>
                </br>
            </h3>
            <td th:if="${isUser}"><a
                    th:href="@{/basket/addtobasket(phoneId=${phone.getPhone_id()})}"
                    class="btn btn-danger">Добавить в корзину</a></td>
        </div>
    </div>

    <div class="col-3-2">
        <div class="content">
            <hr>
            <h2>Дополнительно</h2>
            <a href="http://localhost:5030"><img
                th:src="@{/img/partner.png}" width="400"></a>

            <h3>
                <a th:if="${isAdmin}" th:href="@{/users}">Список пользователей</a>
            </h3>
            <h3>
                <a th:href="@{/phones}">Магазин</a>
            </h3>
            <h3>
                <a th:if="${isUser}" th:href="@{/basket}">Корзина</a>
            </h3>

        </div>
    </div>
</div>

</body>
</html>