<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Registration page</title>
    <link rel="stylesheet" type="text/css" media="all" th:href="@{/css/loginpage.css}"/>
    <link rel="icon" href="http://vladmaxi.net/favicon.ico" type="image/x-icon">
    <link rel="shortcut icon" href="http://vladmaxi.net/favicon.ico" type="image/x-icon">
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script th:src="@{/css/pwstrength.js}"></script>
</head>
<body>
<div class="vladmaxi-top">
    <a href="http://localhost:5050" target="_blank">Главный партнер</a>
        <span class="right">
        </span>
    <div class="clr"></div>
</div>

<div id="login">
    <div th:if="${param.error}">Неправильный логин или пароль</div>
    <div th:if="${param.logout}">Вы вышли из системы</div>
    <div th:if="${checkDb}">Пользователь с таким именем уже существует.</div>
    <div>Пароль должен содержать 8-30 символов.
        Пароль не должен содержать пробелов и должен содержать минимум 1 цифру
    </div>
    <form th:action="@{/registration}" method="post">
        <fieldset class="clearfix">
            <p><span class="fontawesome-user"></span>
                <input type="text" name="username" placeholder="username"/></p> <!-- JS because of IE support; better: placeholder="Username" -->
            <p><span class="fontawesome-lock"></span>
                <input type="password" name="password" placeholder="password"/></p> <!-- JS because of IE support; better: placeholder="Password" -->
            <p><span class="fontawesome-lock"></span>
                <input type="password" name="matchingPassword" placeholder="confirm"/></p>
            <script type="text/javascript">
                        $(document).ready(function () {
                            options = {
                                common: {minChar:8},
                                ui: {
                                    showVerdictsInsideProgressBar:true,
                                    showErrors:true,
                                    errorMessages:{
                                        wordLength: '<spring:message code="error.wordLength"/>',
                                        wordNotEmail: '<spring:message code="error.wordNotEmail"/>',
                                        wordSequences: '<spring:message code="error.wordSequences"/>',
                                        wordLowercase: '<spring:message code="error.wordLowercase"/>',
                                        wordUppercase: '<spring:message code="error.wordUppercase"/>',
                                        wordOneNumber: '<spring:message code="error.wordOneNumber"/>',
                                        wordOneSpecialChar: '<spring:message code="error.wordOneSpecialChar"/>'
                                    }
                                }
                            };
                            $('#password').pwstrength(options);
                        });
                </script>
            <p><input type="submit" value="ЗАРЕГИСТРИРОВАТЬСЯ"></p>
        </fieldset>
    </form>
    <p>Есть аккаунт? &nbsp;&nbsp;<a th:href="@{/loginpage}">Авторизация</a><span class="fontawesome-arrow-right"></span></p>
</div>
</body>
</html>