<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Index page</title>
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/style.css}"/>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <script src="pwstrength.js"></script>
</head>
<header>
    <div class="header-row">
        <div class="header-left">
            <p>Добро пожаловать!</p>
        </div>
        <div class="header-middle">
            <h1>Phones</h1>
        </div>
        <div class="header-right"></div>
    </div>
</header>
<body>
<div class="row">
    <div class="col-1-2">
        <div class="content">
            <hr>
            <h2>Регистрация нового пользователя.</h2>
            <div th:if="${param.error}">Invalid username and password.</div>
            <div th:if="${param.logout}">You have been logged out.</div>
            <div th:if="${checkDb}">Пользователь с таким именем уже существует.</div>
            <form th:action="@{/registration}" method="post">
                Login: <br>
                <input type="text" name="username" placeholder="username"/> <br>
                Password: <br>
                <input type="password" name="password" placeholder="password"/> <br>
                Confirm: <br>
                <input type="password" name="matchingPassword" placeholder="confirm password"/> <br>
                <script type="text/javascript">
                        $(document).ready(function () {
                            options = {
                                common: {minChar:8},
                                ui: {
                                    showVerdictsInsideProgressBar:true,
                                    showErrors:true,
                                    errorMessages:{
                                        wordLength: '<spring:message code="error.wordLength"/>',
                                        wordNotEmail: '<spring:message code="error.wordNotEmail"/>',
                                        wordSequences: '<spring:message code="error.wordSequences"/>',
                                        wordLowercase: '<spring:message code="error.wordLowercase"/>',
                                        wordUppercase: '<spring:message code="error.wordUppercase"/>',
                                        wordOneNumber: '<spring:message code="error.wordOneNumber"/>',
                                        wordOneSpecialChar: '<spring:message code="error.wordOneSpecialChar"/>'
                                    }
                                }
                            };
                            $('#password').pwstrength(options);
                        });
                </script>
                <br>
                <br>
                <input type="submit" value="Sign In"/>
            </form>
            <form th:action="@{/login}">
                <input type="submit" value="login"/>
            </form>
        </div>
    </div>
</div>
</body>
</html>