<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Users</title>
    <!--
    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/styles.css}"/>
          -->

    <link rel="stylesheet"
          href="https://unpkg.com/purecss@1.0.0/build/pure-min.css"
          integrity="sha384-nn4HPE8lTHyVtfCBi5yW9d20FjT8BJwUXyWZT9InLYax14RDjBj46LmSztkmNP9w"
          crossorigin="anonymous">

    <link rel="stylesheet" type="text/css" media="all"
          th:href="@{/css/users.css}"/>
</head>

<header>
    <p>Добро пожаловать, [[${#httpServletRequest.remoteUser}]]!!</p>
    <h1>Phones</h1>
    <p>
        <a th:href="@{/phones}">Магазин</a>
    </p>
    <p>
        <a th:if="${isUser}" th:href="@{/basket}">Корзина</a>
    </p>
    <form th:action="@{/logout}" method="post">
        <input type="submit" value="Sign Out"/>
    </form>
</header>

<body>
<div class="row">
    <div class="col-2-2">
        <div class="content">
            <hr>
            <h2>Список пользователей</h2>
            <p th:if="${deletingAdmin}">Удаление прав главного админа невозможно.</p>
            <div>
                <table border="0">
                    <tr>
                        <th>id</th>
                        <th>username</th>
                        <th>role</th>
                        <th>set/rm role</th>
                    </tr>
                    <tr th:each="user : ${users}">
                        <td th:utext="${user.getId()}">...</td>
                        <td th:utext="${user.getUsername()}">...</td>
                        <td th:utext="${user.getRoles()}">...</td>
                        <td th:if="${isUser}"><a th:href="@{/basket/user(userId=${user.getId()})}"
                                                 class="btn btn-danger" th:text="${user.getNumberOfPhones()}">...</a>
                        </td>
                        <td th:if="${!user.isAdmin()}"><a
                                th:href="@{/setAdmin(userId=${user.getId()})}"
                                class="btn btn-danger">set admin_role</a></td>
                        <td th:if="${user.isUser()}"><a
                                th:href="@{/rmUser(userId=${user.getId()})}"
                                class="btn btn-danger">remove user_role</a></td>
                        <td th:if="${user.isAdmin()}"><a
                                th:href="@{/rmAdmin(userId=${user.getId()})}"
                                class="btn btn-danger">remove admin_role</a></td>
                        <td th:if="${!user.isUser()}"><a
                                th:href="@{/setUser(userId=${user.getId()})}"
                                class="btn btn-danger">set user_role</a></td>
                    </tr>
                    <div class="floating-chat">
                        <iframe src="http://localhost:5030/chat" width="300" height="600" frameborder="no"></iframe>
                    </div>
                </table>
            </div>
        </div>
    </div>
</div>
</body>
</html>